button {
    padding: 1em;
    background-color: #800000;
    color: white;
    cursor: pointer;
}

body {
    font-family: Verdana;
}

textarea {
    font-family: monospace;
}


.plot {
    margin-top: 15px;
}

#left-column {
    width: 45%;
    padding-left: 5%;
    float:left;
}

#right-column {
    width: 45%;
    float: left;
}

.clickable-label {
    cursor: pointer;
}
